form{background-color: #FAEDD6
    ;
    }
    input{width: 99%;
    }
    .button{width:5%;background-color: #0087BD;
    color: white;
padding:10px;
margin:10px 10px 10px 0;}
    h1{text-align: center;}
    body{background-color: #F2F2F2;}
